#roulette .roulette-section .roulette-section-container9 {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    padding-top: 60px;
    transform: "skewY(50deg) rotate (22deg)";
    -webkit-transform: "skewY(50deg) rotate (22deg)";
    -moz-transform: "skewY(50deg) rotate (22deg)";
    -ms-transform: "skewY(50deg) rotate (22deg)";
    -o-transform: "skewY(50deg) rotate (22deg)"
}